* {
  --color-main: white;
  --color-primary: #1789fc;
  --color-secondary: #296eb4;
  --color-contrast: #fdb833;
}

.lexique-card {
  margin: 2% 0;
}

.btn {
  border-radius: 20px;
  background: var(--color-primary);
}

.DeleteBtn{
 background-color: #d36767;
 border: none;
}


.DeleteBtn:hover{
  background-color: #ce4949;
 }

.ModifyBtn{
  background-color: #ffa41d;
  border: none;
}

.ModifyBtn:hover{
  background-color: #f29303;
}

.modal-buttons{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}