/* def */

h3 {
  font-size: 0.8rem;
  font-weight: bold;
}

p {
  font-size: 1.3rem;
}

/* Hero */
#hero {
  color: black;
  height: 70vh;
  /* background-image: url('assets/uuundulate.svg'), url('assets/ssshape.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: left -270px top 000px, right -150px top -300px;
  background-size: 25%, 900px; */
}

.hero-img {
  width: 500px;
}   
         
.btn-grad {
  text-decoration: none;
  width: 250px;
  background-image: linear-gradient(to right, #5AA9E0 0%, #FDB193  51%, #5AA9E0  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Trading */
#tradingview_0596c {
  height: 70vh;
}
.tradingview-widget-copyright {
  display: none;
}